/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/services/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/services/*/logs
/services2/mysql
/services2/mysql/log
/services2/nginx/logs
.DS_Store
*/.DS_Store
